* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

#titulo_UC {

    border-radius: 20px;
    margin: 1%;
    background-color: #085b12;
    margin-top: 0px;
    margin-bottom:10px;
    padding-bottom:20px;
    box-shadow: 0px 20px 20px #808080;
}
#diplomados {
    border: 5px #085b12 solid;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 20px 20px #808080;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 70px;
    text-shadow:3px 5px 5px #000000;
}
h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 3px 5px 5px #000000;
}
h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 45px;
    text-shadow: 2px 2px 5px #808080;
}
ul{
    font-size:30px;
    padding-left:30px;
}
#img_1{
    float:left;
    padding: 0px;
    width: 200px;
    height: 200px;
}
#img_2 {
    float:right;
    padding: 0px;
    width: 200px;
    height: 200px;
}
footer {
    text-align: center;
    font-size:25px;
    border-radius: 20px;
    color: #ffffff;
    margin: 1%;
    background-color: #085b12;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 100px;
}

a:link{
    color: black;
}
a:visited {
    color: darkblue;
}
a:hover{
    color:forestgreen;

}
#footer a:link{
     color:white;
}

#footer a:hover{
    color: darkblue;
}